<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559877166460-00tu8jkk9irg5j8c5ln335nq52q3me19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559877166460-00tu8jkk9irg5j8c5ln335nq52q3me19</string>
	<key>API_KEY</key>
	<string>AIzaSyCDBakxdaB5TkqDpaEHHx2qvHdAeDAOP3k</string>
	<key>GCM_SENDER_ID</key>
	<string>559877166460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballScores</string>
	<key>PROJECT_ID</key>
	<string>live-score-f3f21</string>
	<key>STORAGE_BUCKET</key>
	<string>live-score-f3f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559877166460:ios:844ec37e7a63a8da4400f9</string>
</dict>
</plist>